<!--Header-->

<%-include("../../views/partials/user/header")%>





    <!-- BREADCRUMB -->
    <div id="breadcrumb" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb-tree">
                        <li><a href="/">Home</a></li>
                        <!-- <li><a href="#">All Categories</a></li> -->
                        <!-- <li><a href="#">Accessories</a></li>
                        <li><a href="#">Headphones</a></li> -->
                        <li class="active">Product Details</li>
                    </ul>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /BREADCRUMB -->



    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- Product main img -->
                <div class="col-md-5 col-md-push-2">
                    <div id="product-main-img">
                        <div class="product-preview">
                            <img src="/uploads/products/<%=product.productImage[0]%>" alt="">
                        </div>

                        <div class="product-preview">
                            <img src="/uploads/products/<%=product.productImage[1]%>" alt="">
                        </div>

                        <div class="product-preview">
                            <img src="/uploads/products/<%=product.productImage[2]%>" alt="">
                        </div>

                        <!-- <div class="product-preview">
                            <img src="/uploads/products/<%=product.productImage[2]%>" alt="">
                        </div> -->
                    </div>
                </div>
                <!-- /Product main img -->



                <!-- Product thumb imgs -->
                <div class="col-md-2  col-md-pull-5">
                    <div id="product-imgs">
                        <div class="product-preview">
                            <img src="/uploads/products/<%=product.productImage[0]%>" alt="<%product.name%>">
                        </div>

                        <div class="product-preview">
                            <img src="/uploads/products/<%=product.productImage[1]%>" alt="<%product.name%>">
                        </div>

                        <div class="product-preview">
                            <img src="/uploads/products/<%=product.productImage[2]%>" alt="<%product.name%>">
                        </div>

                        <!-- <div class="product-preview">
                            <img src="./img/product08.png" alt="">
                        </div> -->
                    </div>
                </div>
                <!-- /Product thumb imgs -->



                <!-- Product details -->
                <div class="col-md-5">
                    <div class="product-details">
                        <h2 class="product-name">
                            <%=product.name%>
                        </h2>
                        <div>
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <a class="review-link" href="#">10 Review(s) | Add your review</a>
                        </div>
                        <div>
                            <h3 class="product-price">
                                <i class="fa fa-inr"></i><%=product.salePrice%>
                                <del class="product-old-price">
                                    <i class="fa fa-inr"></i><%=product.regularPrice%>
                                </del>
                            </h3>
                            <span class="product-available" id="stockStatus">
                                <% if (product.stock > 0) { %>
                                    <i class="fa fa-check-circle"></i>
                                    <% if (product.stock < 10) { %>
                                        Only <span id="stockCount"><%=product.stock%></span> items left in stock!
                                    <% } else { %>
                                        In Stock (<span id="stockCount"><%=product.stock%></span> available)
                                    <% } %>
                                <% } else { %>
                                    <i class="fa fa-times-circle"></i> Out of Stock
                                <% } %>
                            </span>
                        </div>
                        <p>
                            <%=product.description%>
                        </p>

                        <div class="product-options">
                            <!-- <label>
                                Size
                                <select class="input-select">
                                    <option value="0">X</option>
                                </select>
                            </label> -->
                            <!-- <label>
                                Color
                                <select class="input-select">
                                    <option value="0">Red</option>
                                </select>
                            </label> -->
                        </div>

                        <div class="add-to-cart">
                            <div class="qty-label">
                                Qty
                                <div class="input-number">
                                    <input type="number" 
                                           id="quantity" 
                                           value="1" 
                                           min="1" 
                                           max="<%=product.stock%>" 
                                           <%= product.stock <= 0 ? 'disabled' : '' %>>
                                    <button type="button" class="qty-up">+</button>
                                    <button type="button" class="qty-down">-</button>
                                </div>
                            </div>
                            <button class="add-to-cart-btn" 
                                    id="addToCart" 
                                    data-product-id="<%=product._id%>" 
                                    data-price="<%=product.salePrice%>"
                                    <%= product.stock <= 0 ? 'disabled' : '' %>>
                                <i class="fa fa-shopping-cart"></i> 
                                <%= product.stock <= 0 ? 'Out of Stock' : 'Add to Cart' %>
                            </button>
                        </div>

                        <ul class="product-btns">
                            <li><a href="#"><i class="fa fa-heart-o"></i> add to wishlist</a></li>
                            <!-- <li><a href="#"><i class="fa fa-exchange"></i> add to compare</a></li> -->
                        </ul>

                        <ul class="product-links">
                            <li>Category:</li>
                            <li><a href="#">
                                    <%=product.category.name%>
                                </a></li>

                        </ul>

                        <ul class="product-links">
                            <li>Share:</li>
                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fab fa-envelope"></i></a></li>
                        </ul>

                    </div>
                </div>
                <!-- /Product details -->



                <!-- Product tab -->
                <div class="col-md-12">
                    <div id="product-tab">
                        <!-- product tab nav -->
                        <ul class="tab-nav">
                            <li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>

                            <li><a data-toggle="tab" href="#tab3">Reviews (3)</a></li>
                        </ul>
                        <!-- /product tab nav -->



                        <!-- product tab content -->
                        <div class="tab-content">
                            <!-- tab1  -->
                            <div id="tab1" class="tab-pane fade in active">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>
                                            <%=product.description%>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- /tab1  -->



                            <!-- tab3  -->
                            <div id="tab3" class="tab-pane fade in">
                                <div class="row">
                                    <!-- Rating -->
                                    <div class="col-md-3">
                                        <div id="rating">
                                            <div class="rating-avg">
                                                <span>4.5</span>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                            </div>
                                            <ul class="rating">
                                                <li>
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <div class="rating-progress">
                                                        <div style="width: 80%;"></div>
                                                    </div>
                                                    <span class="sum">3</span>
                                                </li>
                                                <li>
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                    <div class="rating-progress">
                                                        <div style="width: 60%;"></div>
                                                    </div>
                                                    <span class="sum">2</span>
                                                </li>
                                                <li>
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                    <div class="rating-progress">
                                                        <div></div>
                                                    </div>
                                                    <span class="sum">0</span>
                                                </li>
                                                <li>
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                    <div class="rating-progress">
                                                        <div></div>
                                                    </div>
                                                    <span class="sum">0</span>
                                                </li>
                                                <li>
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                    <div class="rating-progress">
                                                        <div></div>
                                                    </div>
                                                    <span class="sum">0</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- /Rating -->



                                    <!-- Reviews -->
                                    <div class="col-md-6">
                                        <div id="reviews">
                                            <ul class="reviews">
                                                <li>
                                                    <div class="review-heading">
                                                        <h5 class="name">John</h5>
                                                        <p class="date">16 DEC 2024</p>
                                                        <div class="review-rating">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o empty"></i>
                                                        </div>
                                                    </div>
                                                    <div class="review-body">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                                                            do eiusmod tempor incididunt ut labore et dolore magna
                                                            aliqua</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="review-heading">
                                                        <h5 class="name">John</h5>
                                                        <p class="date">16 DEC 2024</p>
                                                        <div class="review-rating">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o empty"></i>
                                                        </div>
                                                    </div>
                                                    <div class="review-body">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                                                            do eiusmod tempor incididunt ut labore et dolore magna
                                                            aliqua</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="review-heading">
                                                        <h5 class="name">John</h5>
                                                        <p class="date">16 DEC 2024</p>
                                                        <div class="review-rating">
                                                            <i class="fas fa-star"></i>

                                                            <i class="fas fa-star"></i>

                                                            <i class="fas fa-star"></i>

                                                            <i class="fas fa-star"></i>

                                                            <i class="fas fa-star-half=alt"></i>
                                                        </div>
                                                    </div>
                                                    <div class="review-body">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                                                            do eiusmod tempor incididunt ut labore et dolore magna
                                                            aliqua</p>
                                                    </div>
                                                </li>
                                            </ul>
                                            <!-- <ul class="reviews-pagination">
                                                <li class="active">1</li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">4</a></li>
                                                <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                            </ul> -->
                                        </div>
                                    </div>
                                    <!-- /Reviews -->



                                    <!-- Review Form -->
                                    <div class="col-md-3">
                                        <div id="review-form">
                                            <form class="review-form">
                                                <input class="input" type="text" placeholder="Your Name">
                                                <input class="input" type="email" placeholder="Your Email">
                                                <textarea class="input" placeholder="Your Review"></textarea>
                                                <div class="input-rating">
                                                    <span>Your Rating: </span>
                                                    <div class="stars">
                                                        <input id="star5" name="rating" value="5" type="radio"><label
                                                            for="star5"></label>
                                                        <input id="star4" name="rating" value="4" type="radio"><label
                                                            for="star4"></label>
                                                        <input id="star3" name="rating" value="3" type="radio"><label
                                                            for="star3"></label>
                                                        <input id="star2" name="rating" value="2" type="radio"><label
                                                            for="star2"></label>
                                                        <input id="star1" name="rating" value="1" type="radio"><label
                                                            for="star1"></label>
                                                    </div>
                                                </div>
                                                <button class="primary-btn">Submit</button>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- /Review Form -->
                                </div>
                            </div>
                            <!-- /tab3  -->
                        </div>
                        <!-- /product tab content  -->
                    </div>
                </div>
                <!-- /product tab -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->



    <!-- Section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">



                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h3 class="title">Related Products</h3>
                    </div>
                </div>



                <!-- product -->
                <% similarProducts.forEach((product)=>{%>
                    <div class="col-md-3 col-xs-6">
                        <a href="<%=product._id%>">
                            <div class="product">
                                <div class="product-img">
                                    <img src="/uploads/products/<%=product.productImage[0]%>" alt="<%=product.name%>">
                                    <div class="product-label">
                                        <span class="sale">-30%</span>
                                    </div>
                                </div>
                                <div class="product-body">
                                    <p class="product-category">Category</p>
                                    <h3 class="product-name"><a href="<%=product._id%>">
                                            <%=product.name%>
                                        </a></h3>



                                        <h3 class="product-price">
                                            <i class="fa fa-inr"></i><%=product.salePrice%>
                                            <del class="product-old-price">
                                                <i class="fa fa-inr"></i><%=product.regularPrice%>
                                            </del>
                                        </h3>
                                        <!-- <% if (product.stock > 0) { %>
                                            <span class="product-available <%= product.stock < 10 ? 'low-stock' : '' %>">
                                                <i class="fa fa-check-circle"></i>
                                                <% if (product.stock < 10) { %>
                                                    Only <%=product.stock%> items left in stock!
                                                <% } else { %>
                                                    In Stock (<%=product.stock%> available)
                                                <% } %>
                                            </span>
                                        <% } else { %>
                                            <span class="product-unavailable">
                                                <i class="fa fa-times-circle"></i> Out of Stock
                                            </span>
                                        <% } %> -->
                                    </div>

                                    
                                </div>
                            </a>
                        </div>
                        <%})%>
                        <!-- /product -->



            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /Section -->



    <!-- NEWSLETTER -->
    <div id="newsletter" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="newsletter">
                        <p>Sign Up for the <strong>NEWSLETTER</strong></p>
                        <form>
                            <input class="input" type="email" placeholder="Enter Your Email">
                            <button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
                        </form>
                        <ul class="newsletter-follow">
                            <li>
                                <a href="#"><i class="fas fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fas fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /NEWSLETTER -->



    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        // Wait for DOM to be fully loaded
        document.addEventListener('DOMContentLoaded', function() {
            const quantityInput = document.getElementById('quantity');
            const addToCartBtn = document.getElementById('addToCart');
            const qtyUpBtn = document.querySelector('.qty-up');
            const qtyDownBtn = document.querySelector('.qty-down');
            const maxStock = '<%=product.stock%>';

            // Prevent direct input of numbers
            quantityInput.addEventListener('keydown', function(e) {
                e.preventDefault();
            });

            // Quantity up button
            qtyUpBtn.addEventListener('click', function(e) {
                e.preventDefault(); // Prevent any default button behavior
                e.stopPropagation(); // Stop event bubbling
                const currentVal = parseInt(quantityInput.value);
                if (currentVal < maxStock) {
                    quantityInput.value = currentVal + 0;
                } else {
                    Swal.fire({
                        icon: 'warning',
                        title: 'Maximum Stock Reached',
                        text: `Only ${maxStock} items available in stock`
                    });
                }
            });

            // Quantity down button
            qtyDownBtn.addEventListener('click', function(e) {
                e.preventDefault(); // Prevent any default button behavior
                e.stopPropagation(); // Stop event bubbling
                const currentVal = parseInt(quantityInput.value);
                if (currentVal > 1) {
                    quantityInput.value = currentVal - 0;
                }
            });

            // Function to update stock display
            function updateStockDisplay(newStock) {
                const stockStatus = document.getElementById('stockStatus');
                const stockCount = document.getElementById('stockCount');
                const addToCartBtn = document.getElementById('addToCart');
                const quantityInput = document.getElementById('quantity');

                if (newStock <= 0) {
                    stockStatus.innerHTML = '<i class="fa fa-times-circle"></i> Out of Stock';
                    stockStatus.classList.remove('product-available');
                    stockStatus.classList.add('product-unavailable');
                    addToCartBtn.disabled = true;
                    addToCartBtn.innerHTML = '<i class="fa fa-ban"></i> Out of Stock';
                    quantityInput.disabled = true;
                } else if (newStock < 10) {
                    stockStatus.innerHTML = `<i class="fa fa-check-circle"></i> Only <span id="stockCount">${newStock}</span> items left in stock!`;
                    stockStatus.classList.add('product-available', 'low-stock');
                    stockStatus.classList.remove('product-unavailable');
                    addToCartBtn.disabled = false;
                    addToCartBtn.innerHTML = '<i class="fa fa-shopping-cart"></i> Add to Cart';
                    quantityInput.disabled = false;
                    quantityInput.max = newStock;
                } else {
                    stockStatus.innerHTML = `<i class="fa fa-check-circle"></i> In Stock (<span id="stockCount">${newStock}</span> available)`;
                    stockStatus.classList.add('product-available');
                    stockStatus.classList.remove('product-unavailable', 'low-stock');
                    addToCartBtn.disabled = false;
                    addToCartBtn.innerHTML = '<i class="fa fa-shopping-cart"></i> Add to Cart';
                    quantityInput.disabled = false;
                    quantityInput.max = newStock;
                }
            }

            // Add to cart functionality
            addToCartBtn.addEventListener('click', async function(e) {
                e.preventDefault(); // Prevent any default button behavior
                const productId = this.dataset.productId;
                const price = this.dataset.price;
                const quantity = parseInt(quantityInput.value);

                try {
                    const response = await fetch('/cart/add', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            productId,
                            price,
                            quantity
                        })
                    });

                    const data = await response.json();

                    if (data.success) {
                        // Update stock display if new stock is provided
                        if (data.newStock !== undefined) {
                            updateStockDisplay(data.newStock);
                        }

                        Swal.fire({
                            icon: 'success',
                            title: 'Success!',
                            text: 'Item added to cart successfully!',
                            showConfirmButton: true,
                            confirmButtonText: 'View Cart',
                            showCancelButton: true,
                            cancelButtonText: 'Continue Shopping'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = '/cart';
                            }
                        });
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: data.message || 'Failed to add item to cart'
                        });
                    }
                } catch (error) {
                    console.error('Error:', error);
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!'
                    });
                }
            });
        });
    </script>


    <%-include("../../views/partials/user/footer")%>